{% extends 'base.html.twig' %}

{% block title %}
    Créer un cours | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Créé un cours</h1>
    <div>
        {# todo: Afficher le formulaire pour créer un cours #}
    </div>
{% endblock %}

