{% extends 'base.html.twig' %}

{% block title %}
    Modifier un cours | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Modifier le cours</h1>
    <div>
        {# Afficher le formulaire pour modifier un cours #}
        <div>
            {# Afficher le formulaire pour créer un cours #}
            {{ form_start(courseForm) }}
            {{ form_widget(courseForm) }}
            <button type="submit" class="btn btn-primary btn-sm">Modifier</button>
            {{ form_end(courseForm) }}
        </div>
    </div>
{% endblock %}

